-# add to beginning of index.html.haml
%h1 All Movies

= form_tag movies_path, :id => "ratings_form", :method => :get do
  Include: 
  - @all_ratings.each do |rating|
    = label_tag  "ratings[#{rating}]", rating, class: 'form-check-label'
    = check_box_tag "ratings[#{rating}]", "1", @ratings_to_show.include?(rating), class: 'form-check-input', :id => "ratings_#{rating}"
  = submit_tag "Refresh", :id => "ratings_submit"


-# add to end of index.html.haml

= link_to 'Add new movie', new_movie_path


%table#movies.table.table-sm.table-striped
  %thead
    %tr
      %th Orden
      %th{class: "#{'hilite' if params[:sort] == "title"}"}
        = link_to "Movie Title", movies_path(:key_ratings => @ratings_to_show, :sort => "title"), id: "title_header"
      %th Rating
      %th{class: "#{'hilite' if params[:sort] == "release_date"}"}
        = link_to "Release Date", movies_path(:key_ratings => @ratings_to_show, :sort => "release_date"), id: "release_date_header"
      %th More Info
  %tbody
    - @movies.each_with_index do |movie, index|
      %tr{:id => "movie_row_#{index}", :class => "movie_row"}
        %td= index + 1
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path

